body {
	font-family:sans-serif;
	margin:0;
}
.container {
	width:100%;
	display:flex;
	}
.column {
	// width:55em;
	margin:0 1em;
	display: flex;
	flex-direction: column;
	// flex: 50%;
	flex: 1;
}
h2 {
	font-size:1em;
	margin-bottom:0.3em;
	}
.viddate {
	margin:0 0 1em;
}
.smol {
	font-size:85%;
}

.header {
	background-image:url('header-crop.jpg');
  background-size: cover;
  background-position:top right;
  width: 100wh;
  height: 70px;
  display: flex;
}

.header h1 {
	display:none;
	color:#ffffff;
	margin:0.4em 1em;
}
.header a {
	display:block;
	width:100%;
	height:100%;
}